{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Our Services</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="aws-service.jpg" alt="AWS Service">
                <div class="card-body">
                    <h5 class="card-title">AWS</h5>
                    <p class="card-text">Comprehensive cloud computing services provided by Amazon Web Services.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="azure-service.jpg" alt="Azure Service">
                <div class="card-body">
                    <h5 class="card-title">Azure</h5>
                    <p class="card-text">Microsoft's cloud platform for building, testing, and managing applications.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="gcp-service.jpg" alt="GCP Service">
                <div class="card-body">
                    <h5 class="card-title">GCP</h5>
                    <p class="card-text">Google Cloud Platform offers a suite of cloud computing services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
